header {
    background-color: white;
    color: cyan;
}

.imagem-cabecalho {
    width: 40%;
    align-items: center;
    margin-left: 699px;
}

body {
    background-color:aquamarine;
    color:red;
}

h1 {
    color:black;
}

.paragrafo-1 {
    color:black;
}

.paragrafo-2 {
    color:aqua
}

p {
    color:blueviolet;
}

h2 {
    color:fuchsia;
}

ul { 
    color:cyan;
}

li {
    color:blue;
}

.imagem-1 {
    width: 40%;
    align-items: center;
    margin-left: 699px;
}

footer {
    background-color:white;
    color: fuchsia;
}