header {
    background-color: whitesmoke;
    color: cyan;
}

body {
    background-color:aquamarine;
    color:red;
}

h1 {
    color:white;
}

p {
    color:blueviolet;
}

h2 {
    color:aliceblue;
}

ul { 
    color:cyan;
}

li {
    color:blue;
}

footer {
    background-color:black;
    color: fuchsia;
}